*{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.menu-izquierdo{
  background-color: rgb(57, 18, 78);
  width: 15%;
  height: 100vh;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.usuario{
  padding: 10px;
  
}

.usu-img{
  width: 70px;
  height: 70px;
  display: block;
  margin: 15px 15px ;
  margin-left: auto;
  margin-right: auto;
}

.usu-nombre{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

.boton-div{
  display: flex;
  justify-content: center;
}

.cerrar-sesion{
  background-color:rgb(16, 7, 79); /* Green */
  border: none;
  color: white;
  margin-top: 20px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  align-items: center;
  left: 50%;
}

.cerrar-sesion:hover {
  background-color: white;
  border: 1px solid; 
  border-color: black;
  color: black;
}

.principal{
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 15%;
}

.mes{
  height: 15%;
  width: 95%;
  margin: 15px;
  background-color: rgb(81, 29, 159);
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.agenda-titulo{
  width: 42%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sig-ant-btn{
  width: 50%;
  margin: 1px;
  border-radius: 5px;
  background-color:rgb(16, 7, 79); 
  border: none;
  color: white;
  display: block;
  transition-duration: 0.4s;
  align-items: center;
}

.sig-ant-btn:hover {
  background-color: white;
  border: 1px solid; 
  border-color: black;
  color: black;
}

.agregar{
  width: 12%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 30px 20px 10px;
}

.btn-agregar{
  width: 100%;
  height: 60px;
  margin: 1px;
  border-radius: 5px;
  background-color:rgb(16, 7, 79); 
  border: none;
  color: white;
  display: block;
  transition-duration: 0.4s;
  align-items: center;
  cursor: pointer;
}

.btn-agregar:hover{
  background-color: white;
  border: 1px solid; 
  border-color: black;
  color: black;
}

.selects{
  width: 45%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 25px 0px 25px 25px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.select-css{
  height: 35px;
  border-radius: 10px;
  background-color: rgb(16, 7, 79);
  color: white;
  border: none;
  text-align: center;
  width: 150px;
  font-size: medium;
}

.mes-nombre{
  padding: 20px;
  font-size: 40px;
  font-weight: 700;
  width: 60%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.clima-container{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  margin: 20px;
  padding: 15px;
  border-radius: 5px;
}

.clima-icon{
  margin: 25px;
}

.clima-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F3F3F3;
  padding:5px ;
  border-radius: 5px;
}

.clima-info>h4{
  font-size:12px;
  margin: 2px;
}

.clima-icon{
  font-size: 45px;
  margin: 5px;
  color: rgb(57, 18, 78);
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.modal--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
}

.modal-container{
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
}

.form-modal{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: stretch;
}

.btn-form{
  display: flex;
  justify-content: space-evenly;
}

.btn-form-ind{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.add{
  border-color: #04AA6D;
  color: green;
}

.add:hover{
  background-color: #04AA6D;
  color: white;
}

.cancel{
  border-color: #ff9800;
  color: orange;
}

.cancel:hover{
  background: #ff9800;
  color: white;
}

.entradas {
  height: 80%;
  width: 95%;
  margin: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.entrada{
  height: auto;
  width: 98%;
  margin: 5px 0px;
  padding: 2px;
  background-color: rgb(57, 12, 125);
  border-radius: 8px;
  border: solid 2px black;
}

.ent-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.ent-titulo{
  height: auto;
  background-color: rgb(81, 29, 159);
  border: solid 1px black;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 12px 15px 12px 20px;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 400;

}

.ent-det{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.hora-fech{
  display:flex;
}

.ent-fecha{
  color: white;
  height: 55px;
  width: 135px;
  display: inline-block;
  border-radius: 5px;
  margin: 5px 5px; 
  padding: 10px 15px 10px 15px;
  background-color: rgb(71, 15, 144);
  font-size: 20px;
  display: flex;
  align-items: center;
}

.ent-hora{
  height: 55px;
  display: inline-block;
  border-radius: 5px;
  margin: 5px 5px; 
  padding: 10px 15px 10px 15px;
  display: flex;
  align-items: center;
  background-color: rgb(71, 15, 144);
  color: white;
  font-size: 20px;
}

.btns-ent{
  margin: 12px 30px 12px 5px;  
}

.btn-ent{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin: 4px;
  padding: 10px;
  background-color:rgb(16, 7, 79); /* Green */
  border: none;
  color: white;
  transition-duration: 0.4s;
}

.btn-ent:hover {
  background-color: white;
  border: 1px solid; 
  border-color: black;
  color: black;
}

.ent-desc{
  height: auto;
  display: inline-block;
  border-radius: 5px;
  margin: 0px 12px 12px 12px; 
  padding: 12px;
  background-color: rgb(38, 21, 86);
  color: white;
  font-weight: 300;
}

.humedad{
  
}